.wrapper {
  height: 100vh;
  background: linear-gradient(90deg, #007AB3, #b3e7ff);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo {
  height: 510px;
  width: 520px;
  background: url('../public/images/wusignory.svg') no-repeat center center / cover;
}