.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #c5c5c5;
  position: relative;
}

.linkWindow {
  height: 100vh;
  width: 25vw;
  position: absolute;
  right: 0;
  background-color: rgb(68, 65, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkUL li {
  list-style: none;
  color: #fff;
  padding: 50px 0;
  font-size: 30px;
}

.anchors {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.anchors:hover {
  color: #adadad;
}